<!--Template Wrapper-->
<div ng-controller="CriticController" id="criticTemplateWrapper">

	<!--Critic Header Section-->
	<section id="criticHeaderSection" class="jumbotron container">
		<h1>{{currentReviewer}}</h1>
	</section>

	<!--Critic Info Section-->
	<section id="criticInfoSection" class="jumbotron container">
		<img />

		<h2>Bio</h2>
		<p>{{currentReviewerDetails.bio}}</p>

		<div ng-repeat="review in currentReviewerMovies">
			<div class="row">
				<h3>"{{review.headline}}"</h3>
			</div>
		</div>

		<!--

		<div class="row">
			<div class="col-xs-12 col-md-8">
				<h2>Bio</h2>
				<p>{{currentReviewerDetails.bio}}</p>
			</div>
			<div class="col-xs-12 col-md-4">
				<h2>Movies Reviewed</h2>
				<div ng-repeat="review in currentReviewerMovies">
					<div class="row">
						<h3>"{{review.headline}}"</h3>
					</div>
				</div>
			</div>
		</div>
		
		-->

	</section>
</div>