<!--Template Wrapper-->
<div id="criticTemplateWrapper">

	<!--Critic Header Section-->
	<section id="criticHeaderSection" class="jumbotron container">
		<h1>Name of Critic</h1>
	</section>

	<!--Critic Info Section-->
	<section id="criticInfoSection" class="jumbotron container">
		<img />

		<div class="row">
			<div class="col-xs-12 col-md-8">
				<h2>Bio</h2>
				<p>Summary</p>
			</div>
			<div class="col-xs-12 col-md-4">
				<h2>Movies Reviewed</h2>
				<div>
					<div class="row">
						<h3>Title</h3>
					</div>
				</div>
			</div>
		</div>

	</section>

</div>