<!--Template Wrapper-->
<div id="homeTemplateWrapper">
	
	<!--Welcome Section-->
	<section id="welcomeSection" class="jumbotron container">
		<h1>Movie Hub</h1>
	</section>
	
	<!--Search Section-->
	<section id="searchSection" class="jumbotron container">
		<h2>Search</h2>
		
		<form id="searchForm" name="searchForm">
			<div class="form-group">
				<label form="searchInput">Search for reviews, by movie or critic</label>
				<input id="searchInput" name="searchInput" ng-model="searchKeywords" class="form-control" placeholder="Search for a movie or a critic" />
			</div>
			<button id="moviesSearchButton" ng-disabled="searchForm.searchInput.$invalid" ng-click="searchMovies()">Search</button>
			<!--<button id="reviewersSearchButton" ng-disabled="searchForm.searchInput.$invalid" ng-click="searchReviewers()">Search By Critic</button>-->
		</form>
	</section>
	
	<!--Search Results Section-->
	<section ng-show="searchResults" id="searchResultsSection" class="jumbotron container">
		<h2>Results</h2>
		
		<table id="searchResultsTable" class="table">
			<thead>
				<tr>
					<th>Headline</th>
					<th>Title</th>
					<th>Critic</th>
					<th>Headline</th>
				</tr>
			</thead>
			<tbody ng-repeat="result in searchResults">
				<tr id="{{result.nyt_movie_id}}">
					<td></td>
					<td>{{result.display_title}}</td>
					<td>{{result.byline}}</td>
					<td>"{{result.headline}}"</td>
				</tr>
			</tbody>
		</table>
		
	</section>
	
	<!--About Section-->
	<section id="aboutSection" class="jumbotron container">
		<h2>About</h2>
		
		<div class="row">
			<div class="col-xs-12 col-md-4">
				<h3></h3>
				<i></i>
				<p></p>
			</div>
			<div class="col-xs-12 col-md-4">
				<h3></h3>
				<i></i>
				<p></p>
			</div>
			<div class="col-xs-12 col-md-4">
				<h3></h3>
				<i></i>
				<p></p>
			</div>
		</div>
	</section>
	
	<!--Start Section-->
	<section id="startSection" class="jumbotron container">
		<h2>Get Started</h2>
		<h3>sign up today!</h3>
		<button></button>
	</section>
</div>