<!--Template Wrapper-->
<div id="homeTemplateWrapper">
	
	<!--Welcome Section-->
	<section id="welcomeSection" class="jumbotron container">
		<!--<h1>MovieHub</h1>-->
	</section>
	
	<!--Search Section-->
	<section id="searchSection" class="jumbotron container">
		<h2>Search</h2>
		
		<form id="searchForm" name="searchForm">
			<div class="form-group">
				<label form="searchInput">Search for reviews, by movie or critic</label>
				<div class="row">
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<input id="searchInput" name="searchInput" ng-model="searchKeywords" class="form-control" placeholder="Search for a movie or a critic" />
					</div>
				</div>	
			</div>
			<button class="btn btn-default" id="moviesSearchButton" ng-disabled="searchForm.searchInput.$invalid" ng-click="searchMovies()">Search</button>
			<!--<button id="reviewersSearchButton" ng-disabled="searchForm.searchInput.$invalid" ng-click="searchReviewers()">Search By Critic</button>-->
		</form>
	</section>
	
	<!--Search Results Section-->
	<section ng-show="searchResults" id="searchResultsSection" class="jumbotron container">
		<h2>Results</h2>
		
		<table id="searchResultsTable" class="table">
			<thead>
				<tr>
					<th>Thumbnail</th>
					<th>Title</th>
					<th>Critic</th>
					<th>Headline</th>
				</tr>
			</thead>
			<tbody ng-repeat="result in searchResults">
				<tr id="{{result.nyt_movie_id}}">
					<td></td>
					<td>{{result.display_title}}</td>
					<td>{{result.byline}}</td>
					<td>"{{result.headline}}"</td>
				</tr>
			</tbody>
		</table>
		
	</section>
	
	<!--About Section-->
	<section id="aboutSection" class="jumbotron container">
		<h2>About</h2>
		
		<div class="row">
			<div class="col-xs-12 col-md-4">
				<i class="fa fa-search"></i>
				<h3>Search</h3>
				<p>Search for critical reviews of your favorite movies</p>
			</div>
			<div class="col-xs-12 col-md-4">
				<i class="fa fa-film"></i>
				<h3>Reviews</h3>
				<p>View top movie reviews from the New York Times</p>
			</div>
			<div class="col-xs-12 col-md-4">
				<i class="fa fa-star"></i>
				<h3>Favorites</h3>
				<p>Favorite reviews of movies</p>
			</div>			
		</div>
	</section>
	
	<!--Start Section-->
	<section ng-show="!authData" id="startSection" class="jumbotron container">
		<h2>Get Started</h2>
		<h3>sign up today!</h3>
		<button class="btn btn-primary" data-toggle="modal" data-target="#signupModal">Sign Up</button>
	</section>
</div>