<!--Template Wrapper-->
<div id="movieTemplateWrapper">
	
	<!--Movie Header Section-->
	<section id="movieHeaderSection" class="jumbotron container">
		<h1>ADD MOVIE TITLE</h1>
		<h3>ADD REVIEW TITLE (ITALICIZE)</h3>
	</section>
	
	<!--Movie Stats Section-->
	<section id="moviewStatsSection" class="jumbotron container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				
			</div>
			<div class="col-xs-12 col-md-6">
				
			</div>
		</div>
	</section>
	
	<!--Movie Review Section-->
	<section id="movieReviewSection" class="jumbotron container">
		<h3>ADD REVIEWER</h3>
		<div class="row">
			<div class="col-xs-12 col-md-3">
				<img alt="movie thumbnail"/>
			</div>
			<div class="col-xs-12 col-md-9">
				<p></p>
			</div>
		</div>
	</section>
</div>